@model DemoFE.Models.UserTableData



@{
    ViewData["Title"] = "Register User";
}
<head>
    <link rel="stylesheet" href="~/css/RegisterUser.css" />
</head>
<h2><u><b><font color="#FFFFF" class="font-italic">Enter all the details</font></b></u></h2>



<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegisterUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label text-light"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label text-light"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label text-light"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Upassword" class="control-label text-light"></label>
                <input asp-for="Upassword" class="form-control" />
                <span asp-validation-for="Upassword" class="text-danger"></span>
            </div>
            <br />

    

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<p>
    @Html.ActionLink("Already have an Account? Login", "LoginUser")
</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
