@model DemoFE.Models.ProductTable

@{
    ViewData["Title"] = "Products";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Shoes</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->

    <link href="~/Template/css/bootstrap.min.css" rel="stylesheet" />
    <!-- style css -->


    <link href="~/Template/css/style.css" rel="stylesheet" />
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <!--<link rel="icon" href="images/fevicon.png" type="image/gif" />-->
    <!-- Scrollbar Custom CSS -->
    <!--<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">-->
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    @*<link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/owl.theme.default.min.css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <link href="~/Template/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/Template/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Template/css/responsive.css" rel="stylesheet" />

</head>
<!-- body -->
<body>
    <!-- New Arrivals section start -->
    <div class="collection_text">Shoes</div>
    <div class="collection_section layout_padding">
        <div class="container">
            <h1 class="new_text"><strong>Explore The Best Of Indian Wear & Fusion Wear. Styles By Our People, Made For Us. Redefine Your Style Statement With Trendy Apparel, Footwear, Accessories & More.</strong></h1>
            <p class="consectetur_text">REGISTER AND GET COUPONS WORTH RS.2500</p>
        </div>
    </div>
    <div class="layout_padding gallery_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="best_shoes">
                        <p class="best_text">Nike Airforce</p>
                        <div class="shoes_icon">
                            <img src="~/Template/images/running-shoes.png">
                           


                        </div>
                        <div class="star_text">
                            <div class="left_part">
                                <ul>
                                    <li><a href="#"><img src="~/Template/images/star-icon.png"></a></li>
                                    <li><a href="#"><img src="~/Template/images/star-icon.png"></a></li>
                                    <li><a href="#"><img src="~/Template/images/star-icon.png"></a></li>
                                    <li><a href="#"><img src="~/Template/images/star-icon.png"></a></li>
                                    <li><a href="#"><img src="~/Template/images/star-icon.png"></a></li>
                                </ul>
                            </div>
                            <div class="right_part">
                                <div class="shoes_price">RS.<span style="color: #202020;">2200</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="best_shoes">
                        <p class="best_text">Canvas</p>
                        <div class="shoes_icon"><img src="~/Template/images/shoes-img5.png"></div>
                        <div class="star_text">
                            <div class="left_part">
                                <ul>
                                    <li><a href="#"><img src="~/Template/images/star-icon.png"></a></li>
                                    <li><a href="#"><img src="~/Template/images/star-icon.png"></a></li>
                                    <li><a href="#"><img src="~/Template/images/star-icon.png"></a></li>
                                    <li><a href="#"><img src="~/Template/images/star-icon.png"></a></li>

                                </ul>
                            </div>
                            <div class="right_part">
                                <div class="shoes_price">RS. <span style="color: #202020;">1800</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="best_shoes">
                        <p class="best_text">Vans</p>
                        <div class="shoes_icon"><img src="~/Template/images/shoes-img6.png"></div>
                        <div class="star_text">
                            <div class="left_part">
                                <ul>
                                    <li><a href="#"><img src="~/Template/images/star-icon.png"></a></li>
                                    <li><a href="#"><img src="~/Template/images/star-icon.png"></a></li>
                                    <li><a href="#"><img src="~/Template/images/star-icon.png"></a></li>

                                </ul>
                            </div>
                            <div class="right_part">
                                <div class="shoes_price">RS. <span style="color: #202020;">1500</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="best_shoes">
                        <p class="best_text">New Balance</p>
                        <div class="shoes_icon"><img src="~/Template/images/shoes-img7.png"></div>
                        <div class="star_text">
                            <div class="left_part">
                                <ul>
                                    <li><a href="#"><img src="~/Template/images/star-icon.png"></a></li>
                                    <li><a href="#"><img src="~/Template/images/star-icon.png"></a></li>

                                </ul>
                            </div>
                            <div class="right_part">
                                <div class="shoes_price">RS. <span style="color: #202020;">1950</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="best_shoes">
                        <p class="best_text">Adidas</p>
                        <div class="shoes_icon"><img src="~/Template/images/shoes-img8.png"></div>
                        <div class="star_text">
                            <div class="left_part">
                                <ul>
                                    <li><a href="#"><img src="~/Template/images/star-icon.png"></a></li>
                                    <li><a href="#"><img src="~/Template/images/star-icon.png"></a></li>
                                    <li><a href="#"><img src="~/Template/images/star-icon.png"></a></li>
                                    <li><a href="#"><img src="~/Template/images/star-icon.png"></a></li>
                                    <li><a href="#"><img src="~/Template/images/star-icon.png"></a></li>
                                </ul>
                            </div>
                            <div class="right_part">
                                <div class="shoes_price">RS. <span style="color: #202020;">2200</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="best_shoes">
                        <p class="best_text">UCB</p>
                        <div class="shoes_icon"><img src="~/Template/images/shoes-img9.png"></div>
                        <div class="star_text">
                            <div class="left_part">
                                <ul>
                                    <li><a href="#"><img src="~/Template/images/star-icon.png"></a></li>

                                </ul>
                            </div>
                            <div class="right_part">
                                <div class="shoes_price">RS. <span style="color: #202020;">1200</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buy_now_bt">
                <button class="buy_text" onclick="location.href='@Url.Action("ProductList", "Product")'">Preview - Click to Enter</button>
            </div>
        </div>
    </div>

    <div class="copyright">2021 All Rights Reserved.ShopEra. <a href="https://www.tothenew.com/">TTN</a></div>


    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- javascript -->
    <script src="js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

</body>
</html>
